<h2 mat-dialog-title>{{addOrEdit}} de Superheroe</h2>
<mat-dialog-content class='custom-dialog'>
    <form [formGroup]='form' class='form-group'>
        <mat-form-field appearance="fill" class="dialog">
            <input matInput formControlName="name">
            <input matInput formControlName="superheroName">
            <input matInput formControlName="power">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class='col-12'>
        <button mat-button (click)='confirm()'
                class='btn btn-main pull-right'>{{addOrEdit}} Superheroe</button>
        <button mat-button mat-dialog-close
                class='btn btn-secondary secondButton pull-right mr-2'>Volver al listado</button>
    </div>
</mat-dialog-actions>
